.profile-container{
    height: 70vh;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    @media(max-width: 767px){
        grid-template-columns: 1fr;
    }
    h1{
        font-size: 2rem;
    }
    p{
        color: #00000099;

    }

    .profile-details{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 100px;
        @media(max-width: 767px){
            flex-direction: column;
        }
        .dp{
            width: 150px;
            height: 150px;
            border-radius: 50%;
            margin-right: 50px;
            position: relative;
            @media(max-width: 767px){
                margin: 0;
            }
            
            .edit{
                display: none;
                position: absolute;
                top: 0;
                right: 0;
                background-color: #bf9ef5;
                border-radius: 50%;
                padding: 10px;
                cursor: pointer;
                img{
                    width: 20px;
                    height: 20px;
                }
            }

            &:hover .edit{
                display: block;
            }

            img{
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }
        .personal-details{
            @media(max-width: 767px){
                text-align: center;
            }
        }
    }
}

.profile-update{
    display: flex;
    flex-direction: column;


    .profile-edit-form{
        margin-top: 50px;
        display: none;
        flex-direction: column;
    }
    input, textarea{
        width: 50%;
        outline: none;
        border: 1px solid #00000030;
        padding: 10px 20px;
        font-size: 1rem;
        margin-bottom: 30px;

        @media(max-width: 767px){
            width: 90%;
        }
    }

    .btn{
        width: fit-content;
    }

    .__{
        display: flex;
        flex-direction: row;
    }
    .cancel{
        display: none;
        margin-left: 30px;
    }
    .pro-details{
        margin-top: 50px;
        width: 60%;
        @media(max-width: 767px){
            width: 100%;
        }
        
        p{
            font-size: 1.1rem;
            color: #000;
            display: flex;
            justify-content: space-between;
            margin-top: 10px;

            span{
                color: #a06cf5;
            }
        }
    }
}


.event-details-profile{
    width: 80%;
    margin: auto;
    height: 50vh;

    .inner-nav{
        border-bottom: 1px solid #00000030;

        .btn{
            background-color: transparent;
            border: 1px solid #00000030;
            color: #a06cf5;

            &:hover{
                background-color: #a06cf5;
                color: #fff;
            }
        }
        .active{
            background-color: #a06cf5;
            color: #fff;
        }
    }
}