{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Bixert</title>
</head>

<body>

    <header class="header">
        <nav class="navbar">
            <a href="{% url 'home' %}" class="nav-logo">Bixert</a>
            <ul class="nav-menu">
                <li class="nav-item">
                    <a href="{% url 'events' %}" class="nav-link">Discover Events</a>
                </li>
                <li class="nav-item login">
                    <a href="#" class="nav-link">Login</a>
                </li>
                <li class="nav-item register">
                    <a href="#" class="nav-link">Get Started</a>
                </li>
            </ul>

            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </header>

    {% block content %} {% endblock %}
    

    <script src="{% static 'js/login.js' %}"></script>
    <script src="{% static 'js/navbar.js' %}"></script>
</body>

</html>