{% extends 'users/base.html' %}

{% load static %}


{% block content %}
<div class="create-event-container">
    <form class="create-event" action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="question-container">
            <div class="circle">1</div>
            <h1 class="question">What is your event name?</h1>
            <input type="text" placeholder="Event name" name="title" required>
        </div>

        <div class="question-container">
            <div class="circle">2</div>
            <h1 class="question">Brief Description of Event</h1>
            <textarea id="description" cols="30" rows="10" name="content"></textarea>
        </div>

        <div class="question-container">
            <div class="circle">3</div>
            <h1 class="question">When is your Event?</h1>
            <input type="date" placeholder="Event name" name="date" required>
        </div>

        <div class="question-container">
            <div class="circle">4</div>
            <h1 class="question">Where is your Event?</h1>
            <div class="location-container">
                <input type="radio" id="online" name="location">
                <label for="online">Online</label>
                <input type="radio" name="location" id="venue">
                <label for="venue">Venue</label>

            </div>
            <input type="text" id="location" name="location" placeholder="location">
        </div>

        <div class="question-container">
            <div class="circle">5</div>
            <h1 class="question">Banner for the Event</h1>
            <input type="file" id="banner_" name="banner" accept="image/*" required>
        </div>
        <input type="submit" class="btn" value="Create Event">
    </form>
</div>

<script>
    const radioBtns = document.querySelectorAll('input[type=radio')
    radioBtns.forEach(radioBtn => {
        radioBtn.addEventListener('click', e => {
            if (e.target.getAttribute('id') === 'venue') {
                document.getElementById('location').style.display = 'flex'
            } else {
                document.getElementById('location').style.display = 'none'
            }
        })
    });
</script>
{% endblock %}