{% extends 'users/base.html' %}

{% load static %}

{% block content %}

<section class="events-page">

    <div class="search-bar">

        <form>
            <div class="search-icon"><img src="https://img.icons8.com/pastel-glyph/64/000000/search--v2.png" /></div>
            <input type="search" placeholder="Search for event" name="searchbar" class="search">
        </form>
    </div>

    <div class="events-container">

        {% for event in events %}
        <div class="event">
            <a style="color: black;" href="{% url 'event-detail' event.id %}">
                <div class="banner">
                    <img src="{{ event.banner.url }}" alt="">
                </div>
                <h1 class="title">{{event.title}}</h1>
                <p>{{event.content}}</p>

                <div class="date">
                    <img src="https://img.icons8.com/cute-clipart/64/000000/planner.png" />
                    <p>{{event.date_posted|date:"F d, Y, h:i A"}}</p>

                </div>

                <div class="location">
                    <img src="https://img.icons8.com/material/24/000000/worldwide-location--v1.png" />
                    <p>{{ event.venue }}</p>
                </div>
                <p class="organised-by">Organised by {{event.author}}</p>
            </a>

            {% if request.user != event.author %}
            {% if event.id not in if_list %}
            <form action="" method="GET">
                <input type="hidden" value={{ event.id }} name="event">
                <button class="btn" name="register">Register</button>
            </form>
            {% else %}
            <button class="btn registered">Registered</button>
            {% endif %}
            {% endif %}
        </div>

        {% endfor %}
    </div>
</section>
<script>
    const searchbar = document.querySelector('.search');
    searchbar.addEventListener('keyup', () => {
        let searchvalue = {
            search_value: searchbar.value,
        }
        async function postdata() {
            const response = await fetch('', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    "X-CSRFToken": '{{csrf_token}}'
                },
                body: JSON.stringify(searchvalue)
            })
            console.log(response)
        }
        postdata();
    });
</script>
{% endblock %}