{% extends 'users/base.html' %}

{% load static %}

{% block content %}
<section class="event-details">
    <div class="event-banner">
        <img src="{{ object.banner.url }}" alt="">
    </div>
    <div class="details">
        <h1 class="event-title">{{object.title}}</h1>
    </div>
    <div class="_">
        <p>Organised by <span>{{object.author}}</span></p>
        <div class="date">
            <img src="https://img.icons8.com/cute-clipart/64/000000/planner.png" />
            <p>{{object.date_posted|date:"F d, Y"}} - {{ object.time}}</p>

        </div>

        <div class="location">
            <img src="https://img.icons8.com/material/24/000000/worldwide-location--v1.png" />
            <p>{{ object.venue }}</p>
        </div>

    </div>

    <div class="overview">
        <div class="overview-nav">
            <button class="btn overviewBtn active">Overview</button>
            <button class="btn attendeesBtn">Attendees</button>
            <button class="btn chatsBtn">Chats</button>
        </div>
        <div class="content">
            <p>{{object.content|safe}}</p>
        </div>
        <div class="attendees">

            {% for user in attendees %}
            <div class="user">
                {% if user.confirm %}
                    <img src="{{user.registered_user.profile.image.url }}" alt="">
                    <a href="{% url 'profile' user.registered_user.username %}"><h2>{{ user.registered_user.username }}</h2></a>
                    <img class="tick" src="{% static 'MainApp/images/icons/success.svg' %}"/>
                
                {% else %}
                    <img src="{{user.registered_user.profile.image.url }}" alt="">
                    <a href="{% url 'profile' user.registered_user.username %}"><h2> {{ user.registered_user.username }}</h2></a>
                    <img class="pending" src="{% static 'MainApp/images/icons/pending-email.svg' %}"/>
                {% endif %}
            </div>
            {% endfor %}
        </div>

        <div style="min-height: 60vh; align-items: flex-start;" class="chatsection" data-event_id="{{ object.id }}"  data-user = "{{ user.username }}" data-image = "{{ user.profile.image.url }}">
            <div class="chats-container">
                <div class="form">
                    <form class="new-chat-form">
                        <textarea name="msg" id="msg" cols="30" rows="2" placeholder="type your message" required></textarea>
                        <input class="btn" type="submit" id="submit" value="Send">
                    </form>
                </div>
        
                <div style="height: 45vh; margin-top: 10px;" class="chats">
                    
                </div>
            </div>
            <div class="users container">
                <div class="update-msg"></div>
                <form class="update-username">
                    <input type="text" id="name" required placeholder="name">
                    <input type="submit" id="submit" value="Update"> 
                </form>
                
        
            </div>
        
        </div>

    </div>



</section>


<script src="https://cdnjs.cloudflare.com/ajax/libs/date-fns/1.30.1/date_fns.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.6.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.6.0/firebase-firestore.js"></script>

<script>
  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  var firebaseConfig = {
    apiKey: "AIzaSyDiZ3R7_LiuT_feK3bM7ES4no4qXT9djMM",
    authDomain: "bixertchat-9dbf3.firebaseapp.com",
    projectId: "bixertchat-9dbf3",
    storageBucket: "bixertchat-9dbf3.appspot.com",
    messagingSenderId: "112822414049",
    appId: "1:112822414049:web:494c4812e5d3fbf2b265a0",
    measurementId: "G-F9JHXY7R75"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);

  const db = firebase.firestore();
</script>
<script src="{% static 'MainApp/js/ui.js' %}"></script>
<script src="{% static 'MainApp/js/chat.js' %}"></script>
<script src="{% static 'MainApp/js/app.js' %}"></script>

<script>
    const contentDiv = document.querySelector('.content')
    const attendeesDiv = document.querySelector('.attendees')
    const chatsDiv = document.querySelector('.chatsection')

    const overviewBtn = document.querySelector('.overviewBtn')
    const attendeesBtn = document.querySelector('.attendeesBtn')
    const chatsBtn = document.querySelector('.chatsBtn')




    overviewBtn.addEventListener('click', e => {
        overviewBtn.classList.toggle('active')
        attendeesBtn.classList.remove('active')
        chatsBtn.classList.remove('active')
        contentDiv.style.display = '';
        attendeesDiv.style.display = 'none'
        chatsDiv.style.display = 'none'
    })

    attendeesBtn.addEventListener('click', e => {
        attendeesBtn.classList.toggle('active')
        overviewBtn.classList.remove('active')
        chatsBtn.classList.remove('active')
        contentDiv.style.display = 'none';
        attendeesDiv.style.display = 'grid'
        chatsDiv.style.display = 'none'
    })

    chatsBtn.addEventListener('click', e => {
        attendeesBtn.classList.remove('active')
        overviewBtn.classList.remove('active')
        chatsBtn.classList.toggle('active')
        contentDiv.style.display = 'none';
        attendeesDiv.style.display = 'none'
        chatsDiv.style.display = 'grid'
    })


</script>

{% endblock %}