{% extends 'users/base.html' %}

{% load static %}

{% block content %}

<section class="event-details">
    <div class="event-banner">
        <img src="{{ object.banner.url }}" alt="">
    </div>
    <div class="details">
        <h1 class="event-title">{{object.title}}</h1>
        <button class="btn">Register</button>
    </div>
    <div class="_">
        <p>Organised by <span>{{object.author}}</span></p>
        <div class="date">
            <img src="https://img.icons8.com/cute-clipart/64/000000/planner.png" />
            <p>{{object.date_posted|date:"F d, Y, h:i A"}}</p>
    
        </div>
    
        <div class="location">
            <img src="https://img.icons8.com/material/24/000000/worldwide-location--v1.png"/>
            <p>{{ object.venue }}</p>
        </div>

    </div>

    <div class="overview">
        <div class="overview-nav">
            <button class="btn active">Overviwe</button>
            <button class="btn">Attendees</button>
        </div>
        <div class="content">
            <p>{{object.content}}</p>
        </div>
        
    </div>

</section>


{% endblock %}