{% extends 'users/base.html' %}

{% load static %}

{% block content %}

<section class="event-details">
    <div class="event-banner">
        <img src="{{ object.banner.url }}" alt="">
    </div>
    <div class="details">
        <h1 class="event-title">{{object.title}}</h1>
        <button class="btn">Register</button>
    </div>
    <div class="_">
        <p>Organised by <span>{{object.author}}</span></p>
        <div class="date">
            <img src="https://img.icons8.com/cute-clipart/64/000000/planner.png" />
            <p>{{object.date_posted|date:"F d, Y, h:i A"}}</p>

        </div>

        <div class="location">
            <img src="https://img.icons8.com/material/24/000000/worldwide-location--v1.png" />
            <p>{{ object.venue }}</p>
        </div>

    </div>

    <div class="overview">
        <div class="overview-nav">
            <button class="btn overviewBtn active">Overviwe</button>
            <button class="btn attendeesBtn">Attendees</button>
        </div>
        <div class="content">
            <p>{{object.content}}</p>
        </div>
        <div class="attendees">

            {% for user in attendees %}
            <div class="user">
                {% if user.confirm %}
                    <img src="{{user.registered_user.profile.image.url }}" alt="">
                    <h2>{{ user.registered_user.username }}</h2>
                    <img class="tick" src="{% static 'MainApp/images/icons/success.svg' %}"/>
                
                {% else %}
                    <img src="{{user.registered_user.profile.image.url }}" alt="">
                    <h2> {{ user.registered_user.username }}</h2>
                    <img class="pending" src="{% static 'MainApp/images/icons/pending-email.svg' %}"/>
                {% endif %}
            </div>
            {% endfor %}
        </div>

    </div>


</section>

<script>
    const contentDiv = document.querySelector('.content')
    const attendeesDiv = document.querySelector('.attendees')

    const overviewBtn = document.querySelector('.overviewBtn')
    const attendeesBtn = document.querySelector('.attendeesBtn')




    overviewBtn.addEventListener('click', e => {
        overviewBtn.classList.toggle('active')
        attendeesBtn.classList.toggle('active')
        contentDiv.style.display = '';
        attendeesDiv.style.display = 'none'
    })

    attendeesBtn.addEventListener('click', e => {
        attendeesBtn.classList.toggle('active')
        overviewBtn.classList.toggle('active')
        contentDiv.style.display = 'none';
        attendeesDiv.style.display = 'grid'
    })


</script>

{% endblock %}