{% extends 'users/base.html' %}

{% load static %}

{% block content %}
<style>
    span{
        color: blue;
    }
</style>
    <section class="notification-section">
        {% for event in current_event %}
        <div class="notification">
            <p>Today you have an event <a href="/events/{{event.id}}"><span>{{ event.title }}</span></a> </p>
        </div>
        {% endfor %}
    </section>

    <section class="notification-section">
    {% for notification in noti %}
    <div class="notification">
        <p>{{ notification.notification }}</p>
    </div>
    {% endfor %}
    </section>

   
{% endblock %}