{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'MainApp/css/style.css' %}">
    <title>Bixert</title>
</head>

<body>
    {% if user.is_authenticated %}
    <header class="header">
        <nav class="navbar">
            <a href="{% url 'MainApp-home' %}" class="nav-logo">Bixert</a>
            <ul class="nav-menu">
                <li class="nav-item">
                    <a href="{% url 'events' %}" class="nav-link">Discover Events</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">Registered Events</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">My Events</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'create-event' %}" class="nav-link">Create Event</a>
                </li>

            </ul>

            <div class="mobile-nav-right">
                <div class="user">
                    <li class="nav-item">
                        <a href="#" class="nav-link"><img id="dp" src="{{ user.profile.image.url }}" /></a>
                    </li>
                    <div class="dropdown">
                        <a href="{% url 'profile' %}">My Profile</a>
                        <a href="#">My Events</a>
                        <a href="{% url 'logout' %}">Logout</a>
                    </div>
                </div>

                <div class="hamburger">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
            </div>
        </nav>
    </header>

    {% else %}

    <header class="header">
        <nav class="navbar">
            <a href="{% url 'MainApp-home' %}" class="nav-logo">Bixert</a>
            <ul class="nav-menu">
                <li class="nav-item">
                    <a href="{% url 'events' %}" class="nav-link">Discover Events</a>
                </li>
                <li class="nav-item login">
                    <a href="#" class="nav-link">Login</a>
                </li>
                <li class="nav-item register">
                    <a href="#" class="nav-link">Get Started</a>
                </li>
            </ul>

            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </header>

    {% endif %}
    <div class="container">
        <div class="login-container">
            <div class="close close-login">
                <img src="{% static 'MainApp/images/icons/close.svg' %}" alt="">
            </div>
            <h1>Login</h1>
            <form class="login-form" action="" method="POST">
                {% csrf_token %}
                <input type="text" name="username" placeholder="username">
                <input type="password" name="password" placeholder="password">
                <button class="btn" name="login_form">Login</button>
                <a href="#">
                    <p>forgot password?</p>
                </a>
            </form>
            <div class="already">
                <p>Don't have an account <a id="signup__" href="#">Signup Now</a></p>
            </div>
        </div>
    </div>
    <div class="container_">
        <div class="signup-container">
            <div class="close close-signup">
                <img src="{% static 'MainApp/images/icons/close.svg' %}" alt="">
            </div>
            <h1>Signup</h1>
            <form class="signup-form" action="" method="POST">
                {% csrf_token %}
                <input type="email" name="email" placeholder="email">
                <input type="text" name="username" placeholder="Username">
                <input type="password" name="password" placeholder="password">
                <input type="text" name="confirmPassword" id="confirm" placeholder="Confirm password">
                <button class="btn" name="register_form">signup</button>
            </form>
            <div class="already">
                <p>Already have an account <a id="login__" href="#">Login</a></p>
            </div>
        </div>
    </div>

    {% block content %} {% endblock %}


    <script src="{% static 'MainApp/js/navbar.js' %}"></script>
    <script src="{% static 'MainApp/js/login.js' %}"></script>
</body>

</html>