{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password reset</title>
    <link rel="stylesheet" href="{% static 'MainApp/css/style.css' %}">
</head>
<body>
<style>
	.reset{
		min-height: 70vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

</style>

<div class="reset">

	<h1>Your password has been reset. </h1> <br><br> 
	<a href="{% url 'MainApp-home' %}"> <button class="btn">login</button></a>

</div>
</body>
</html>