{% extends 'users/base.html' %}
{% load static %}

{% block content %}
<style>
    .reset{
        width: 100%;
        min-height: 80vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    h1{
        margin-bottom: 50px;
    }
    form{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    input{
        width: 100%;
        outline: none;
        border: 1px solid #00000030;
        padding: 10px 20px;
        font-size: 1rem;
        margin-bottom: 20px;
    }
    @media(max-width: 767px){
        form{
            width: 90%;
        }
    }
</style>

<div class="reset">
    <h1 class="title">Password Reset</h1>
    <form method="POST" class="form-signin">
        {% csrf_token %}
        <input type="email" name="email" id="id_email" placeholder="Email Address" required>
        <button class="btn" type="submit">submit</button>
    </form>
</div>

{% endblock %}