{% extends 'users/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="profile-container">

    <div class="_">
        <h1>Profile Details</h1>
        <p>View & Update Your Profile Details</p>
        <div class="profile-details">
            <div class="dp">
                <img src="{{ user.profile.image.url }}" alt="">
                <div class="edit"><img src="https://img.icons8.com/office/16/000000/edit.png" /></div>
            </div>
            <div class="personal-details">
                <h1>{{ user.username }}</h1>
                <p>{{ user.email }}</p>
            </div>
        </div>

    </div>
    <div class="profile-update">
        <div class="__">
            <button class="btn edit-profile-btn">Edit Profile</button>
            <button class="btn cancel">Cancel</button>
        </div>

        <form class="profile-edit-form" action="" method="POST">
            {% csrf_token %}
            <input type="text" id="name" name="name" placeholder="Name" value="{{ user.profile.name }}">

            <input type="email" id="email" name="email" placeholder="email" value="{{ user.email }}">

            <input type="text" id="phoneNo" name="phoneNo" placeholder="Mobile No" value="{{ user.profile.phone_no }}">

            <input type="text" id="company" name="company" placeholder="company name" value="{{ user.profile.company }}">

            <button class="btn save">save</button>
        </form>

        <div class="pro-details">
            <p>Username: <span>{{ user.username }}</span></p>
            <p>Name: <span>{% if user.profile.name %} {{ user.profile.name }} {% else %} - {% endif %}</span> </p>
            <p>Email: <span>{{ user.email }}</span> </p>
            <p>Phone Number: <span>{% if user.profile.phone_no %} {{ user.profile.phone_no }} {% else %} - {% endif %}</span> </p>
            <p>Company: <span>{% if user.profile.company %} {{ user.profile.company }} {% else %} - {% endif %}</span>
            </p>
        </div>
    </div>

</div>

<div class="event-details-profile">
    <div class="inner-nav">
        <button class="btn myeventsBtn active">My Events</button>
        <button class="btn upcomingBtn">Upcoming Events</button>
    </div>

    <div class="events-container my-events">

        {% for event in events %}
        <div class="event">
            <a style="color: black;" href="{% url 'event-detail' event.id %}">
                <div class="banner">
                    <img src="{{ event.banner.url }}" alt="">
                </div>
                <h1 class="title">{{event.title}}</h1>
                <p>{{event.content}}</p>

                <div class="date">
                    <img src="https://img.icons8.com/cute-clipart/64/000000/planner.png" />
                    <p>{{event.date_posted|date:"F d, Y, h:i A"}}</p>

                </div>

                <div class="location">
                    <img src="https://img.icons8.com/material/24/000000/worldwide-location--v1.png" />
                    <p>{{ event.venue }}</p>
                </div>
                <p class="organised-by">Organised by {{event.author}}</p>
            </a>

            {% if request.user != event.author %}
            <button class="btn">Register</button>
            {% endif %}
        </div>

        {% endfor %}
    </div>


    <div style="display: none;" class="events-container upcoming">
        {% for event in registered_events %}
        <div class="event">
            <a style="color: black;" href="{% url 'event-detail' event.id %}">
                <div class="banner">
                    <img src="{{ event.registered_event.banner.url }}" alt="">
                </div>
                <h1 class="title">{{event.registered_event.title}}</h1>
                <p>{{event.registered_event.content}}</p>

                <div class="date">
                    <img src="https://img.icons8.com/cute-clipart/64/000000/planner.png" />
                    <p>{{event.registered_event.date_posted|date:"F d, Y, h:i A"}}</p>

                </div>

                <div class="location">
                    <img src="https://img.icons8.com/material/24/000000/worldwide-location--v1.png" />
                    <p>{{ event.registered_event.venue }}</p>
                </div>
                <p class="organised-by">Organised by {{event.registered_event.author}}</p>
            </a>
        </div>

        {% endfor %}
    </div>
</div>


<script>
    document.querySelector('.edit-profile-btn').addEventListener('click', e => {
        document.querySelector('.pro-details').style.display = 'none'
        document.querySelector('.profile-edit-form').style.display = 'flex'
        document.querySelector('.cancel').style.display = 'flex'
    })
    document.querySelector('.cancel').addEventListener('click', e => {
        document.querySelector('.pro-details').style.display = ''
        document.querySelector('.profile-edit-form').style.display = 'none'
        document.querySelector('.cancel').style.display = 'none'
    });
</script>


<script>
    const upcomingDiv = document.querySelector('.upcoming')
    const myeventsDiv = document.querySelector('.my-events')

    const myEventsBtn = document.querySelector('.myeventsBtn')
    const upcomingBtn = document.querySelector('.upcomingBtn')




    myEventsBtn.addEventListener('click', e => {
        myEventsBtn.classList.toggle('active')
        upcomingBtn.classList.toggle('active')
        myeventsDiv.style.display = '';
        upcomingDiv.style.display = 'none'
    })

    upcomingBtn.addEventListener('click', e => {
        upcomingBtn.classList.toggle('active')
        myEventsBtn.classList.toggle('active')
        myeventsDiv.style.display = 'none';
        upcomingDiv.style.display = 'grid'
    });
</script>

{% endblock %}