
.chatsection{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 0;
    .new-chat-form{
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        textarea{
            width: 80%;
            margin: auto;
            padding: 20px;
            font-size: 1rem;
            border: 1px solid #00000030;
            border-radius: 20px;
            outline: none;
        }

        .submit{
            position: relative;
            right: 40px;
            padding: 10px 20px;
            font-size: 1rem;
            border: 1px solid #00000030;
            border-radius: 10px;
            outline: none;
            cursor: pointer;
            background-color: #6657da;
            color: #fff;
            
        }

    }
    
    textarea{
        width: 50%;
        outline: none;
        border: 1px solid #00000030;
        padding: 10px 20px;
        font-size: 1rem;
        margin-bottom: 20px;

        @media(max-width: 767px){
            width: 100%;
        }
    };

}

.chats{
    
    .chat{
        background-color: #ececec;
        border-radius: 18px;
        display: flex;
        flex-direction: column;
        height: auto;
        width: 80%;
        margin: 10px auto;
        padding: 10px 20px;
        line-height: 1.8;
        letter-spacing: 1px;
        position: relative;
        @media(max-width: 767px){
            width: 95%;
        }
        p{
            font-weight: 100;
            margin-bottom: 20px;

        }
        .time{
            position: absolute;
            bottom: -13px;
            right: 10px;
            font-size: 12px;
        }
        .user-dets{
            
            display: flex;
            flex-direction: row;
            img{
                border-radius: 50%;
                object-fit: cover;
                width: 30px;
                height: 30px;
                margin-right: 10px;
            }
            p{
                font-size: 20px;
                color: #6657da;
                margin-bottom: 0px;
            }
        }
    }
    .chat:last-child{
        animation: chat 2s ease;
    }
}

.chats{
    width: 90% !important;
    height: 60vh;
    overflow-y: scroll;
    margin: auto;
    display: flex;
    flex-direction: column-reverse;

    .chat{
        background-color: rgb(234, 231, 238);
        width: 70%;
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 10px;

        .author{
            font-weight: 600;
            font-size: 1.2rem;
            color: #6657da;
        }
    }
    .left{
        align-items: flex-start !important;
        margin: 10px 0;
    }
    .right{
        align-self: flex-end !important;
        margin: 10px 0;
    }
}

@keyframes chat {
    from{opacity: 0;}
    to {opacity: 1;}
}