.notification-section{
    width: 50%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    @media(max-width: 767px){
        width: 90%;
    }
    .notification{
        margin-top: 10px;
        width: 90%;
        padding: 20px;
        background-color: #fff;
        border-radius: 20px;
        border: 1px solid #00000020;
        box-shadow: 1px 3px 7px -1px rgba(0,0,0,0.20);
        -webkit-box-shadow: 1px 3px 7px -1px rgba(0,0,0,0.20);
        -moz-box-shadow: 1px 3px 7px -1px rgba(0,0,0,0.20);
        @media(max-width: 767px){
            width: 100%;
        }
    }
}

#courses{
    width:50%;
    margin: auto;

    .todays-events{
        padding: 10px;
        font-size: 1.5rem;
    }
}

.courses::-webkit-scrollbar{
    display: none;
}

.courses{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 30px;
    overflow-x: scroll;
    @media(max-width: 767px){
        display: flex;
        gap: 20px;
    }
    .course{
        position: relative;
        padding: 20px;
        border-radius: 10px;
        border: 1px solid #00000020;
        width: 300px !important;
        .banner{
            img{
                width: 100%;
                max-height: 150px;
                overflow: hidden;
                object-fit: cover;
            }

        }
        h1{
            font-size: 1rem;

        }
        .title{
            font-size: 1rem;
            text-align: left;
        }
        p{
            font-size: .9rem;
            padding: 10px 0;
        }
        .date, .location{
            display: flex;
            flex-direction: row;
            align-items: center;                
            img{
                width: 20px;
            }
            p{
                margin-left: 10px;
            }
        }

        .btn{
            background-color: transparent;
            border: 1px solid #00000030;
            color: #6657da;
            transition: 0.1s ease;
            
            &:hover{
                background-color: #6657da;
                color: #fff;
            }
        }
        .registered{
            background-color:#6657da;
            color: #fff;
        }
    }
}

.courses-container{
    position: relative;
}

.left-scroll, .right-scroll{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;

}

.left-scroll{
   
    position: absolute;
    left: -50px;
    top: 50%;
    @media(max-width: 767px){
        display: none;
    }

}

.right-scroll{
    position: absolute;
    right: -50px;
    top: 50%;
    @media(max-width: 767px){
        display: none;
    }
}

