@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Quicksand', sans-serif;
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  border-radius: 20px;
  background-color: #6657da;
  border: none;
  outline: none;
  color: #E5E5E5;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
}

.disabled {
  background-color: #00000090;
  cursor: not-allowed;
}

.success {
  border: 2px solid greenyellow !important;
}

.error {
  border: 2px solid crimson !important;
}

.header {
  width: 100%;
  background-color: #fff;
  z-index: 100;
  border-bottom: 1px solid #E2E8F0;
  box-shadow: 10px 10px 18px -15px rgba(0, 0, 0, 0.51);
  -webkit-box-shadow: 10px 10px 18px -15px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 10px 10px 18px -15px rgba(0, 0, 0, 0.51);
}

.header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 2.5rem;
}

.header .navbar .nav-logo {
  font-size: 2rem;
  font-weight: 600;
  color: #6657da;
}

.header .navbar .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navbar .nav-menu .nav-item {
  margin-left: 2rem;
}

@media (max-width: 767px) {
  .header .navbar .nav-menu .nav-item {
    margin: 1.5rem 0;
  }
}

.header .navbar .nav-menu .nav-item .nav-link {
  color: #000;
  font-weight: 500;
}

.header .navbar .nav-menu .nav-item .nav-link:hover {
  color: #7b3ad1;
}

.header .navbar .nav-menu .nav-item .active {
  color: #7b3ad1;
}

.header .navbar .nav-menu .login {
  border: 1px solid #7b3ad1;
  border-radius: 20px;
  color: #E5E5E5;
  padding: 10px 20px;
  cursor: pointer;
}

.header .navbar .nav-menu .register {
  border-radius: 20px;
  background-color: #6657da;
  color: #E5E5E5;
  padding: 10px 20px;
  cursor: pointer;
}

.header .navbar .nav-menu .register .nav-link {
  color: #fff;
  font-weight: 600;
}

.header .user img {
  -o-object-fit: cover;
     object-fit: cover;
}

.header .user:hover .dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .header .user:active .dropdown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header .hamburger {
  display: none;
}

.header .hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

@media (max-width: 767px) {
  .header .hamburger {
    display: block;
    cursor: pointer;
  }
  .header .hamburger .active .bar:nth-child(2) {
    opacity: 0;
  }
}

#dp {
  width: 40px !important;
  height: 40px;
  border-radius: 50%;
}

.mobile-nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
}

.dropdown {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 150px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 20px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown a {
  color: black;
  text-decoration: none;
}

.dropdown a:hover {
  color: #7b3ad1;
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
            box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }
  .nav-menu.active {
    left: 0;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
}

.home {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 80%;
  margin: auto;
}

@media (max-width: 767px) {
  .home {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding-top: 100px;
  }
}

.home .content {
  justify-self: flex-start;
}

.home .content h1 {
  font-size: 3rem;
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .home .content h1 {
    font-size: 2rem;
  }
}

.home .content h1 span {
  color: #6657da;
}

.home .home-image img {
  width: 100%;
}

.container, .container_ {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: none;
}

.login-container, .signup-container {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  width: 20rem;
  height: 32rem;
  background-color: #fff;
  background: #7c9eec;
  /* fallback for old browsers */
  background: -webkit-gradient(linear, left top, right top, from(#8ca3d8), to(#d6c5f0));
  background: linear-gradient(to right, #8ca3d8, #d6c5f0);
  -webkit-box-shadow: 0 2rem 5rem 0 #00000060;
          box-shadow: 0 2rem 5rem 0 #00000060;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
}

.login-container .close, .signup-container .close {
  width: 30px;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
}

.login-container h1, .signup-container h1 {
  margin-bottom: 30px;
  color: #6452da;
}

.login-container form, .signup-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-container form input, .signup-container form input {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #00000030;
  outline: none;
}

.login-container form .btn, .signup-container form .btn {
  width: auto;
  margin: 20px;
}

.login-container form p, .signup-container form p {
  font-size: 0.7rem;
}

.login-container .already, .signup-container .already {
  position: absolute;
  bottom: 0;
  padding: 10px;
  font-size: 0.8rem;
}

.login-container.open, .signup-container.open {
  -webkit-animation: open 0.5s forwards;
          animation: open 0.5s forwards;
}

.login-container.close, .signup-container.close {
  -webkit-animation: close 0.5s forwards;
          animation: close 0.5s forwards;
}

@-webkit-keyframes open {
  0% {
    -webkit-transform: translate(200%, -400%) scale(0);
            transform: translate(200%, -400%) scale(0);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) scale(1.2);
            transform: translate(-50%, -50%) scale(1.2);
  }
  70% {
    -webkit-transform: translate(-50%, -50%) scale(0.95);
            transform: translate(-50%, -50%) scale(0.95);
  }
  95% {
    -webkit-transform: translate(-50%, -50%) scale(1.1);
            transform: translate(-50%, -50%) scale(1.1);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes open {
  0% {
    -webkit-transform: translate(200%, -400%) scale(0);
            transform: translate(200%, -400%) scale(0);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) scale(1.2);
            transform: translate(-50%, -50%) scale(1.2);
  }
  70% {
    -webkit-transform: translate(-50%, -50%) scale(0.95);
            transform: translate(-50%, -50%) scale(0.95);
  }
  95% {
    -webkit-transform: translate(-50%, -50%) scale(1.1);
            transform: translate(-50%, -50%) scale(1.1);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

@-webkit-keyframes close {
  100% {
    -webkit-transform: translate(200%, -400%) scale(0);
            transform: translate(200%, -400%) scale(0);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) scale(1.2);
            transform: translate(-50%, -50%) scale(1.2);
  }
  30% {
    -webkit-transform: translate(-50%, -50%) scale(0.95);
            transform: translate(-50%, -50%) scale(0.95);
  }
  5% {
    -webkit-transform: translate(-50%, -50%) scale(1.1);
            transform: translate(-50%, -50%) scale(1.1);
  }
  0% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes close {
  100% {
    -webkit-transform: translate(200%, -400%) scale(0);
            transform: translate(200%, -400%) scale(0);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) scale(1.2);
            transform: translate(-50%, -50%) scale(1.2);
  }
  30% {
    -webkit-transform: translate(-50%, -50%) scale(0.95);
            transform: translate(-50%, -50%) scale(0.95);
  }
  5% {
    -webkit-transform: translate(-50%, -50%) scale(1.1);
            transform: translate(-50%, -50%) scale(1.1);
  }
  0% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

.events-page {
  margin-top: 50px;
}

.search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  margin: 50px auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: center;
}

@media (max-width: 767px) {
  .search-bar {
    width: 90%;
  }
}

.search-bar form {
  position: relative;
  width: 100%;
}

.search-bar form .search-icon {
  position: absolute;
  top: 50%;
  left: 5px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.search-bar form .search-icon img {
  width: 25px;
  height: 25px;
}

.search-bar form input {
  padding: 10px 20px 10px 35px;
  border-radius: 10px;
  width: 100%;
  margin: auto;
  border: 1px solid #00000030;
  outline: none;
  font-size: 1rem;
}

.events-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  width: 90%;
  margin: auto;
  margin-bottom: 100px;
}

@media (max-width: 767px) {
  .events-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.events-container .event {
  border: 1px solid #00000030;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
}

.events-container .event .banner img {
  width: 100%;
  max-height: 150px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

.events-container .event h1 {
  font-size: 1.3rem;
}

.events-container .event p {
  font-size: .9rem;
  padding: 10px 0;
}

.events-container .event .date, .events-container .event .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.events-container .event .date img, .events-container .event .location img {
  width: 20px;
}

.events-container .event .date p, .events-container .event .location p {
  margin-left: 10px;
}

.events-container .event .btn {
  background-color: transparent;
  border: 1px solid #00000030;
  color: #6657da;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
}

.events-container .event .btn:hover {
  background-color: #6657da;
  color: #fff;
}

.events-container .event .registered {
  background-color: #6657da;
  color: #fff;
}

.create-event-container {
  min-height: 100vh;
  width: 80%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 300px;
  border-left: 1px solid #000;
  position: relative;
}

.create-event-container .create-event .question-container {
  margin-left: 30px;
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.create-event-container .create-event .question-container .circle {
  width: 30px;
  height: 30px;
  background-color: #6657da;
  color: #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: -15px;
}

.create-event-container .create-event .question-container .question {
  font-size: 2rem;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .create-event-container .create-event .question-container .question {
    font-size: 1.3rem;
  }
}

.create-event-container .create-event .question-container input, .create-event-container .create-event .question-container textarea {
  width: 50%;
  outline: none;
  border: 1px solid #00000030;
  padding: 10px 20px;
  font-size: 1rem;
}

@media (max-width: 767px) {
  .create-event-container .create-event .question-container input, .create-event-container .create-event .question-container textarea {
    width: 100%;
  }
}

.create-event-container .create-event .question-container input[type=date] {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.create-event-container .create-event .question-container .location-container {
  margin-bottom: 20px;
}

.create-event-container .create-event .question-container input[type=radio] {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.profile-container {
  width: 80%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .profile-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.profile-container h1 {
  font-size: 2rem;
}

.profile-container p {
  color: #00000099;
}

.profile-container .profile-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  margin-bottom: 100px;
}

@media (max-width: 767px) {
  .profile-container .profile-details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.profile-container .profile-details .dp {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 50px;
  position: relative;
}

@media (max-width: 767px) {
  .profile-container .profile-details .dp {
    margin: 0;
  }
}

.profile-container .profile-details .dp .edit {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #bf9ef5;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
}

.profile-container .profile-details .dp .edit img {
  width: 20px;
  height: 20px;
}

.profile-container .profile-details .dp:hover .edit {
  display: block;
}

.profile-container .profile-details .dp img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 767px) {
  .profile-container .profile-details .personal-details {
    text-align: center;
  }
}

.profile-update {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.profile-update .profile-edit-form {
  margin-top: 50px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.profile-update input, .profile-update textarea {
  width: 50%;
  outline: none;
  border: 1px solid #00000030;
  padding: 10px 20px;
  font-size: 1rem;
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .profile-update input, .profile-update textarea {
    width: 90%;
  }
}

.profile-update .btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.profile-update .__ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.profile-update .cancel {
  display: none;
  margin-left: 30px;
}

.profile-update .pro-details {
  margin-top: 50px;
  width: 100%;
}

@media (max-width: 767px) {
  .profile-update .pro-details {
    width: 100%;
  }
}

.profile-update .pro-details p {
  font-size: 1.1rem;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

.profile-update .pro-details p span {
  color: #a06cf5;
}

.event-details-profile {
  width: 80%;
  margin: auto;
  margin-bottom: 100px;
}

.event-details-profile .inner-nav {
  border-bottom: 1px solid #00000030;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.event-details-profile .inner-nav .btn {
  background-color: transparent;
  border: 1px solid #00000030;
  color: #a06cf5;
}

.event-details-profile .inner-nav .btn:hover {
  background-color: #a06cf5;
  color: #fff;
}

.event-details-profile .inner-nav .active {
  background-color: #a06cf5;
  color: #fff;
}

.event-details-profile .events-container {
  margin-top: 50px;
  width: 100%;
}

.event-details {
  width: 70%;
  margin: auto;
  margin-bottom: 200px;
  min-height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 767px) {
  .event-details {
    width: 95%;
  }
}

.event-details .event-banner {
  width: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (max-width: 767px) {
  .event-details .event-banner {
    width: 100%;
  }
}

.event-details .event-banner img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.event-details .details {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-bottom: 1px solid #00000030;
  padding: 60px 0 30px;
}

@media (max-width: 767px) {
  .event-details .details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.event-details .details .event-title {
  font-size: 3rem;
}

.event-details ._ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 30px 0;
}

.event-details ._ p span {
  color: #6657da;
}

.event-details .date, .event-details .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 20px 0 0 0;
}

.event-details .date img, .event-details .location img {
  width: 20px;
}

.event-details .overview {
  border-top: 1px solid #00000030;
  padding: 50px 0;
}

.event-details .overview .overview-nav .btn {
  background-color: transparent;
  color: #6657da;
  border: 1px solid #00000030;
}

.event-details .overview .overview-nav .active {
  background-color: #6657da;
  color: #fff;
}

.event-details .overview .content {
  margin: 60px 0;
}

.event-details .overview .attendees {
  display: none;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: left;
}

@media (max-width: 767px) {
  .event-details .overview .attendees {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    justify-items: left;
  }
}

.event-details .overview .attendees .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

@media (max-width: 767px) {
  .event-details .overview .attendees .user {
    margin-top: 10px;
  }
}

.event-details .overview .attendees .user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 10px;
}

.event-details .overview .attendees .user .tick {
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

.event-details .overview .attendees .user .pending {
  width: 25px;
  height: 25px;
  margin-left: 10px;
  border-radius: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.event-details .overview .attendees .user h2 {
  font-size: 1rem;
}
/*# sourceMappingURL=style.css.map */